:root {
  --purplee: #9d15e6;
  --lightpurplee: #b24fe8;
  --superlightpurplee: #d396f4;
  --gray: #55557b;
  --white: #fff;
  --black: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container-notes {
  width: 500px;
  min-width: 300px;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.botones2 {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 10px;
}

.text{
  columns: auto 12em;
  display:flex
}

.botones {
  margin: 30px auto;
  background-color: white;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 30px;
  text-align: center;
}

.botones input[type="text"] {
  background: transparent;
  padding: 10px;
  border-style: none;
  font-size: 1.5em;
  border-radius: 40px;
}

.botones input[type="text"]::placeholder {
  color: var(--black);
}

.botones input[type="text"]:focus {
  outline: none;
}

.botones input[type="submit"]{
  font-size: 2em;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: black;
}

.botones input[type="submit"]:hover{
  background-color: rgb(108, 4, 199);
  cursor: pointer;
  color: var(--white);
}

body {
  background: url('imagenes/img.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  border-radius: 10px;
  font-size: 3rem;
  color: white;
}

.list-container {
  margin: 0 auto;
}

.task-container{
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  padding: 10px 80px;
  border-radius: 5px;
  color: white;
}

.closeBtn{
  background-color: rgb(237, 94, 94);
  border: 2px solid black;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
}

#task-list {
  background: transparent;
  overflow: auto;
  height: 25rem;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, .2);
}


.list-container ::-webkit-scrollbar {
  width: 10px;
}

.list-container ::-webkit-scrollbar-track {
  border-radius: 10px;
}

.list-container ::-webkit-scrollbar-thumb {
  border-radius: 80px;
  background: transparent;
}

.contador {
  text-align: center;
  color: white;
  padding: 6px;
}
